            <div class="navbar navbar-default visible-xs">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">{{site.title}}</a>
                </div>
                <div class="navbar-collapse collapse navbar-responsive-collapse">
                    <ul class="nav navbar-nav">
                        <li class="left-nav-item">
                                    <a href="https://guillaumelauzier.com/about">About</a>
                        </li>
                        <li class="left-nav-item">
                                    <a href="https://guillaumelauzier.com/resume">Resume</a>
                        </li>
                        <li class="left-nav-item">
                                    <a href="https://guillaumelauzier.com/collaboration">Collaboration</a>
                        </li>
                        <li class="left-nav-item">
                                    <a href="https://guillaumelauzier.com/blog">Blog</a>
                        </li>
                        <li class="left-nav-item">
                                    <a href="https://guillaumelauzier.com/tags">Tags</a>
                        </li>
                        <li class="left-nav-item">
                                    <a href="https://guillaumelauzier.com/search">Search</a>
                        </li>
                    </ul>
                </div>
            </div>
