<aside>
  <div class="row">
    <div class="col-md-12">
    <br/>
        {% if page.path contains '_posts' %}
        <h1 class="text-center" style="margin-top:0px"><a href="/blog" class="icon ic-back"></a></h1>
        {% else %}
        <h1 class="text-center" style="margin-top:0px"><a href="/" class="icon ic-back"></a></h1>
        {% endif %}
    </div>
  </div>
  <div class="row">
      <div class="col-md-12">
        <ul class="left-nav">
            <li class="left-nav-item">
              <a href="https://guillaumelauzier.com/about">About</a>
            </li>
            <li class="left-nav-item">
              <a href="https://guillaumelauzier.com/resume">Resume</a>
            </li>
            <li class="left-nav-item">
              <a href="https://guillaumelauzier.com/collaboration">Collaboration</a>
            </li>
            <li class="left-nav-item">
              <a href="https://guillaumelauzier.com/blog">Blog</a>
            </li>
            <li class="left-nav-item">
              <a href="https://guillaumelauzier.com/tags">Tags</a>
            </li>
            <li class="left-nav-item">
              <a href="https://guillaumelauzier.com/search">Search</a>
            </li>
        </ul>
    </div>
  </div>
</aside>
