---
layout: page
title: Collaboration
description: Page with links to all old articles of the blog
theme: darken
---
    <ul>
      {% for post in site.posts %}
        {% unless post.next %}
          <h3>{{ post.date | date: '%Y' }}</h3>
        {% else %}
          {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
          {% capture nyear %}{{ post.next.date | date: '%Y' }}{% endcapture %}
          {% if year != nyear %}
            <h3>{{ post.date | date: '%Y' }}</h3>
          {% endif %}
        {% endunless %}
        <li class="alink"><a href="{{ post.url }}" class="darken-link">{{ post.title }}</a></li>
      {% endfor %}
    </ul>
<!-- Skills -->
<section class="row">
	<header class="col-md-3">
		<h3 style="text-transform:uppercase;color:gray">Skills</h3>
	</header>
	<div class="col-md-9">
		<div class="row">
			<div class="col-md-6">
				<ul class="list-group">
					<li class="list-group-item active"><h4><strong>Programming</strong></h4></li>
					<li class="list-group-item">
						[JavaScript](https://guillaumelauzier.com/tags/JavaScript/)
					</li>
					<li class="list-group-item">
						[Swift](https://guillaumelauzier.com/tags/Swift/)
					</li>
					<li class="list-group-item">
						[Python](https://guillaumelauzier.com/tags/python/)
					</li>
					<li class="list-group-item">
						[SQL](https://guillaumelauzier.com/tags/SQL)
					</li>
					<li class="list-group-item">
						[PHP](https://guillaumelauzier.com/tags/PHP)
					</li>
					<li class="list-group-item">
						[Solidity](https://guillaumelauzier.com/tags/solidity/)
					</li>
					<li class="list-group-item">
						[HTML](https://guillaumelauzier.com/tags/HTML/) & 
						[CSS](https://guillaumelauzier.com/tags/CSS/)
					</li>
				</ul>
			</div>
			<div class="col-md-6">
				<ul class="list-group">
					<li class="list-group-item active"><h4><strong>Specialties</strong></h4></li>
					<li class="list-group-item">Small Business Management</li>
					<li class="list-group-item">Full Stack Web Development</li>
					<li class="list-group-item">Full Stack iOS Development</li>
					<li class="list-group-item">Blockchain Development</li>
					<li class="list-group-item">Multimedia Content Production</li>
					<li class="list-group-item">Digital Marketing</li>				
				</ul>
			</div>
		</div>
	</div>
</section>
<hr/>
<!-- Skills -->
<section class="row">
	<header class="col-md-3">
		<h3 style="text-transform:uppercase;color:gray">Learning</h3>
	</header>
	<div class="col-md-9">
		<div class="row">
			<div class="col-md-6">
				<ul class="list-group">
					<li class="list-group-item active"><h4><strong>MOOC Profiles</strong></h4></li>
					<li class="list-group-item">
						<a href="https://www.coursera.org/user/b4891b2e63903f214571167dc955d178" 									target="_blank">Coursera</a>
					</li>
					<li class="list-group-item">
						<a href="https://app.pluralsight.com/profile/guillaumelauzier" 									target="_blank">Pluralsight</a>
					</li>
					<li class="list-group-item">
						<a href="https://www.codecademy.com/profiles/guillaumelauzier" 									target="_blank">Codecademy</a>
					</li>					
					<li class="list-group-item">
						<a href="https://www.bitdegree.org/user/guillaumelauzier/profile" 									target="_blank">BitDegree</a>
					</li>
					<li class="list-group-item">
						<a href="https://www.khanacademy.org/profile/guillaumelauzier/" 									target="_blank">Khan Academy</a>
					</li>
					<li class="list-group-item">
						<a href="https://www.udemy.com/user/guillaume-lauzier-3/" 									target="_blank">Udemy</a>
					</li>
					<li class="list-group-item">
						<a href="https://www.freecodecamp.org/guillaumelauzier" 									target="_blank">FreeCodeCamp</a>
					</li>
					<li class="list-group-item">
						<a href="https://profile.edx.org/u/guillaumelauzier" 									target="_blank">EdX</a>
					</li>
				</ul>
			</div>
			<div class="col-md-6">
				<ul class="list-group">
					<li class="list-group-item active"><h4><strong>Coding Profiles</strong></h4></li>
					<li class="list-group-item">
						<a href="https://www.hackerrank.com/Guillaumelauzier" 									target="_blank">HackerRank</a>
					</li>
					<li class="list-group-item">
						<a href="https://coderbyte.com/profile/guillaumelauzier" 									target="_blank">CodeByte</a>
					</li>
					<li class="list-group-item">
						<a href="https://leetcode.com/guillaumelauzier/" 									target="_blank">LeetCode</a>
					</li>
					<li class="list-group-item">
						<a href="https://app.codesignal.com/profile/llaulau" 									target="_blank">CodeSignal</a>
					</li>
					<li class="list-group-item">
						<a href="https://www.codewars.com/users/guillaumelauzier" 									target="_blank">CodeWars</a>
					</li>
					<li class="list-group-item">
						<a href="https://www.topcoder.com/members/Llaulau" 									target="_blank">TopCoder</a>
					</li>					
					<li class="list-group-item">
						<a href="https://www.codechef.com/users/llaulau" 									target="_blank">CodeChef</a>
					</li>
					<li class="list-group-item">
						<a href="https://hackr.io/guillaumelauzier" 									target="_blank">HackR</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</section>
<hr/>
